<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel APP</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">Final</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Travel APP</a></li>
                    
                  </ul>
                </div>
              </nav>
        
              <img class="logo" src="../media/logo.png" alt="My Logo"> 

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <div class="col-8">
                    <input id="city" type="text" name="input" value="" placeholder="Name of the city">
                    <br> 
                    <label>Travel date </label>
                    <br>
                    <input class="form-control" type="date" value="2021-03-27" id="date">
                    <input class="btn btn-primary" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                    </div>
                </form>
            <section>

            <section>
                <strong>Location:</strong> <br><br>
                <div id="location" style="color: white;"></div>
            </section>

            <section>
                <strong>Your trip to <div id="naturalLocation"></div> </strong> <br><br>
                <div id="countdown" style="color: white;"></div>
            </section>
        </main>

        <footer>
            <p> Natural Language Processing Project </p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
